AIRFLOW_UID=50000

FERNET_KEY=yCItiTV4uAyXJ7_29m8q4gqx0wBtINkqahtdhththt= (this just example not correct )
# AIRFLOW__WEBSERVER__SECRET_KEY=IYqd0jaWSX-ebufcaidei4RaekBzDen44IneKr-LioaQUEAwHTHkrhoosTxSnrkITvsvfsfsvfbfb== (this just example not correct )



INGESTION_MAX_ROWS=5000

SNOWFLAKE_ACCOUNT=ton_identifiant_de_compte